{% extends 'main/base.html' %}
{% load static %}
{% block content %}
 <div class="hero-wrap js-fullheight" style="background-image: url({% static 'main/images/bg_2.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-12 ftco-animate">

              <div class="row" style="margin-top: 5%">
                  <div class="container col-6">
                      <form method="post" class="bg-light p-4 p-md-5 reg-form">
                          {% csrf_token %}
                          {% for field in form %}
                            <div class="form-group">
                              {{ field.label_tag }} {{ field }}
                                <p><a role="alert" style="color: rgb(108,117,125)">{{ field.errors }}</a></p>
                            </div>
                          {% endfor %}
                            <p><a role="alert" style="color: rgb(108,117,125)">{{ form.non_field_errors }}</a></p>
                          <div class="form-group">
                              <input type="submit" id="feedback-btn" value="Login"
                                     class="btn btn-primary py-3 px-5">
                          </div>
                          <a href="{% url 'register' %}" style="color: rgb(108,117,125)">register new account</a>
                      </form>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}